<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../style/style.css ">
</head>
<body>
    <nav class="nav">
        <ul>
          <a href="../../index.html"><img src="../../img/logo.png" /></a>
        </ul>
        <ul>
          <li class="active"><a href="edit.html">PRODCUT</a></li>
          <li><a href="../customer/customer.html">CUSTOMER</a></li>
          <!-- <li><a href="../customer_order/order.html">ORDER</a></li> -->
          
          <li id="color"><a href=""></a></li>
        </ul>
      </nav><br><br><br><br>

      <div id="foods-dialog" style="display: none;">
        <dialog open>
          <header>Create new question</header>
  
          <section>
            <input id="textName" type="text" placeholder="Name food*" />
            <input id="textPrice" type="text" placeholder="Price of food*" />
            <input id="theImag" type="text"  placeholder="link img from internet..."/>
          </section>
          <menu>
            <button onclick="onCancel()">Cancel</button>
            <button onclick="onCreate()">Create</button>
          </menu>
        </dialog>
      </div>

      
      
      
      <div class="food">
        <h3><button id="btn_Add" onclick="onAddfood()">Add Food</button></h3>
        <div class="choose"></div>
        
      
      </div>
      
      <div id="delete-dialog" style="display: none;">
        <dialog open >
          <menu class="yesno">
            <button onclick="onCancel()">NO</button>
            <button id="yes">YES</button>
          </menu>
        </dialog>
      </div>
      <!-- <div class="message"></div> -->
</body>
<script src="edit.js"></script>
</html>