<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  
    <nav>
        <ul>
          <a href="../../index.html"><img src="../../img/logo.png" /></a>
        </ul>
        <ul>
          <li><a href="../edit/edit.html">PRODUCT</a></li>
          <li class="active"><a href="customer.html">CUSTOMER</a></li>
          <li id="order"><a href="../customer_order/order.html" ><img src="../../img/ordericon.png" alt=""  ><span class="sum">0</span></a></li>
          <li> <a href="" >CARD</a></li>
        </ul>
      </nav>
      <div id="cards-dialog" style="display: none;">
        <dialog open class="cards-dialog">
          <header class="register">Register</header><br>
  
          <section class="carddialog">
            <label for="">Your Name*</label>
            <input id="N" type="text" placeholder="Your Name" />
            <label for="">Email*</label>
            <input id="E" type="email" placeholder="Your Email or Phone number" />
            <label for="">Password*</label>
            <input id="P" type="password" placeholder="Password" />
            <button onclick="submit()">LOGIN</button>
          </section>
          <menu class="menu">
            <button onclick="back()">BACK</button>
          </menu>
        </dialog>
      </div>
      
      <div class="container">
        <div class="search">
            <p><input type="search"  onkeyup="myFunction()" placeholder="waht are you looking for..."> <img src="../../img/search.png" alt=""  width="1%"></p>
          </div>
        </div><br><br>
        <div class="food">
      
          <h2><span>Choose</span> from dozens of cuisines and order online for home <span>delivery</span></h2>
          <div class="choose"></div>
          
        </div>
        <div class="star_dialog">
  
        </div>

      
      
      <div class="footer">
        <div class="help">
            <h3>Follow Fastfood Page</h3>
            <a href="https://www.youtube.com/watch?v=npaaFOwfKZk"><img src="../../img/youtube.png" alt="" width="25%"></a>
            <a href="https://www.facebook.com/fastfoodonline/"><img src="../../img/fecebook.png" alt="" width="25%"></a>
        </div>
        <div class="help">
            <h3>Customer service</h3>
            <a href="">Contact Us</a>
            <a href="">Register</a>
        </div>
        <div class="help">
            <h3>Useful Information</h3>
            <a href="">Safety Tip</a>
            <a href="">Ad Posting Rule</a>
        </div>
        <div class="app">
            <a href="https://play.google.com/store/apps/details?id=com.stamsoft.fastfood&hl=en&gl=US"><img src="../../img/googleplay.png" alt="" width="70%"></a>
        </div>
      </div>
</body>
<script src="customer.js"></script>
</html>

